<!DOCTYPE html>
<html>
    <head>
        <title> View Data using Handle Bar </title>
    </head>
    <body>
        <!-- comment -->
       {{!--  {{>welcome}} --}}
       {{!comment}}
       {{> welcome data}}
        <table border = '1'>
            <tr> 
                <th> Name</th>
                <th> Age </th>
                <th> Occupation </th>
                <th> Company </th>
            </tr>
            {{#if data.visible}}
                <tr>
                    <td> {{data.name}} </td>
                    <td> {{data.age}} </td>
                    <td> {{data.occupation}} </td>
                    <td> {{data.company}} </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan = "4"> User: "{{data.name}}" has hiddenn his info</td>
                </tr>
            {{/if}}
            {{#unless data.contract}}
                <tr>
                    <td colspan = "4"> Full Time </td>
                </tr>
            {{/unless}}
        </table>
    </body>
</html>